@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 4.8% 95.9%;
 
    --primary: 139 100% 30%;
    --primary-foreground: 240 5% 34%;
 
    --secondary: 28 73% 74%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 141, 69.2%, 58%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 0, 0%, 30%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  html {
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply bg-primary text-foreground;
  }
}

@layer components {
  .text-real-stroke {
    text-shadow: calc(4px * 1) calc(4px * 0) 0
      darkslategray,
    calc(4px * 0.9239) calc(4px * 0.3827) 0
      darkslategray,
    calc(4px * 0.7071) calc(4px * 0.7071) 0
      darkslategray,
    calc(4px * 0.3827) calc(4px * 0.9239) 0
      darkslategray,
    calc(4px * 0) calc(4px * 1) 0
      darkslategray,
    calc(4px * -0.3827) calc(4px * 0.9239) 0
      darkslategray,
    calc(4px * -0.7071) calc(4px * 0.7071) 0
      darkslategray,
    calc(4px * -0.9239) calc(4px * 0.3827) 0
      darkslategray,
    calc(4px * -1) calc(4px * 0) 0
      darkslategray,
    calc(4px * -0.9239) calc(4px * -0.3827) 0
      darkslategray,
    calc(4px * -0.7071) calc(4px * -0.7071) 0
      darkslategray,
    calc(4px * -0.3827) calc(4px * -0.9239) 0
      darkslategray,
    calc(4px * 0) calc(4px * -1) 0
      darkslategray,
    calc(4px * 0.3827) calc(4px * -0.9239) 0
      darkslategray,
    calc(4px * 0.7071) calc(4px * -0.7071) 0
      darkslategray,
    calc(4px * 0.9239) calc(4px * -0.3827) 0
      darkslategray;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: max(env(safe-area-inset-bottom), 8px);
  }
}
